name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-test:
    name: "Lint & test on node ${{ matrix.node_version }} and ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: ['8', '10', '12']
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v2
      
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    
    - name: Install dependencies
      run: yarn

    - name: Lint
      run: yarn lint

    - name: Test
      run: yarn test --ci
